<div>
    <img src="images/how-many.png" alt="How many marathons" class="how-many">
    <img src="images/during-desk.png" alt="during the containment" class="during">
    <br/><br/><br/>
    <button class="button-basic">Log In</button>
    <hr class="rounded">
    <button class="button-basic">Sign Up</button>
</div>