.background {
  background-color: rgb(237, 236, 236);
  padding: 10px;
}

.wrapper {
  background-color: white;
  border-radius: 25px;
  font-family: brandon-grotesque, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 100;
  margin: auto;
  max-width: 320px;
  min-height: 100%;
  padding: 20px;
  text-align: center;
}

.form-wrapper {
  margin: auto;
  padding: 40px 30px;
}

.how-many {
  max-width: 90%;
  padding-top: 20px;
}

.during {
  max-width: 85%;
  padding-top: 10px;
  padding-bottom: 20px;
}

.running {
  max-width: 100%;
}

.form-field {
  text-align: left;
}

#user_first_name,
#user_email,
#user_password,
#email,
#password,
#run_date,
#run_distance {
  font-family: brandon-grotesque, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 100;
  margin-top: 8px;
  width: 100%;
}

.submit {
  border-color: darkslategray;
  border-radius: 5px;
  background-color: darkslategray;
  color: white;
  font-size: 14px;
  margin-top: 20px;
  padding: 8px 0;
  width: 45%;
}

.view-all {
  border-color: darkslategray;
  border-radius: 5px;
  background-color: white;
  color: darkslategray;
  font-size: 14px;
  margin-top: 20px;
  padding: 8px 0;
  width: 45%;
}

.logout {
  padding-top: 30px;
  font-size: 14px;
}

.titles {
  color: darkslategray;
  font-size: 18px;
  font-weight: 500;
  padding-top: 10px;
}

.distance {
  font-size: 64px;
}
