.background {
  background-color: rgb(237, 236, 236);
  padding: 10px;
}

.wrapper {
  background-color: white;
  border-radius: 25px;
  font-family: brandon-grotesque, sans-serif;
  font-style: italic;
  font-weight: 100;
  margin: auto;
  max-width: 400px;
  min-height: 800px;
  padding: 20px;
  text-align: center;
}

.how-many {
  max-width: 90%;
  padding-top: 20px;
}

.during {
  max-width: 85%;
  padding-top: 10px;
}

.rounded {
  border-top: 1px solid #bbb;
  border-radius: 5px;
  color: darkgrey;
  /* max-width: 300px; */
}

.button-basic {
  border-color: darkslategray;
  border-radius: 5px;
  background-color: darkslategray;
  color: white;
  font-size: 14px;
  padding: 10px 20px;
  width: 100px;
}
